table {
    border-collapse: collapse;
}
table, td, th {
    border: 1px solid;
}

.fullContainer {
    display: flex;
    width: 100%;
}

.dataview {
    table-layout: auto;
    width: 100%;
}

.actionsHeader, .actionsCell {
    width: 101px;
}