{% extends 'baseTemplates/base.html' %}
{% load static %}
{% block head %}
{% load static %}
    <title>{{ formData.title }}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'baseTemplates/genericForm.css' %}">
{% endblock head %}
{% block content %}
    <h2>{{ formData.title }}</h2>
    {% block beforeForm %}{% endblock beforeForm %}
    <form action="" method="post">
        {% csrf_token %}
        <div class="container">
        {% for field in form %}
            <div class="fieldWrapper col-4">
                {{ field.errors }}
                {{ field.label_tag }}<br>{{ field }}
                {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
            </div>
        {% endfor %}
        {# form.as_p #}
        </div>
        <br>
        <input type="submit" value="{{ formData.title }}">
    </form>
    <div id="errorsDiv"></div>
    {% block afterForm %}{% endblock afterForm %}
{% endblock content %}
