{% extends "baseTemplates/base.html" %}

{% block head %}
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="static/workersPage/index.css">
{% endblock head %}
{% block header %}
    <h1>Página de trabajadores</h1>
{% endblock header %}
{% block content %}
    <h3>Here are some useful links</h3>
    <a href="https://apps.powerapps.com/play/d213c59d-6275-4795-93d7-d3520f21d054?tenantId=04e191de-a720-4074-8737-77733f944ba1&source=portal&screenColor=rgba(0%2C%20176%2C%20240%2C%201)">Picar horas: entrada</a> <br>
    <a href="https://apps.powerapps.com/play/f1d9478d-12dc-4f9f-8bb3-196596974634?tenantId=04e191de-a720-4074-8737-77733f944ba1&source=portal&screenColor=rgba(208%2C%2052%2C%2056%2C%201)">Picar horas: salida</a> <br>
    <a href="https://apps.powerapps.com/play/9fa682af-1886-4380-90b6-b45db8312be0?tenantId=04e191de-a720-4074-8737-77733f944ba1&source=portal&screenColor=rgba(1%2C%2060%2C%2096%2C%201)">Gestor de horas</a> <br>
    <a href="https://trello.com/b/e5ch2Kk2/%E2%9C%88-indaero-producci%C3%B3n">Trello board</a>
    <p>Trello card generator se encuentra en: \\INDAEROQNAP\Compartido\TRELLOcardGenerator</p>
{% endblock content %}
