{% extends 'baseTemplates/base.html' %}
{% load static %}
{% block head %}
{% load static %}
    <title>{{ formData.title }}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'toolsManager/genericForm.css' %}">
{% endblock head %}
{% block content %}
    <h2>{{ formData.title }}</h2>
    <form action="" method="post">
        {% csrf_token %}
        {{form}}
        <input type="submit" value="{{ formData.title }}">
    </form>
    <div id="errorsDiv"></div>
{% endblock content %}
