{% extends 'baseTemplates/genericForm.html' %}

{% block beforeForm %}
    <div class="toolsManagerNavBar">
        <a href="{% url 'toolsView' %}">Tools</a>
        <a href="{% url 'machinesView' %}">Machines</a>
        <a href="{% url 'materialsView' %}">Materials</a>
    </div>
    <div class="crudOperationsBar">
        {% if formData.viewUrl %}
            <a href="{% url formData.viewUrl %}">View</a>
        {% endif %}
        {% if formData.createUrl %}
            <a href="{% url formData.createUrl %}">Create</a>
        {% endif %}
    </div>
{% endblock beforeForm %}